body {
    font-family: Helvetica, sans-serif;
}

.container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

img.child {
    float: left;
    width: 10%;
    background-color: lightblue;
}

div.child {
    float: left;
    width: 30%;
    background-color: lightblue;
}

img.logo {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 250px;
}

h1 {
    text-align: center;
}

button.add {
    position: absolute;
    display: block;
    text-align: center;
    top: 5%;
    right: 5%;
}

button.remove{
    background-color: red;
}

.artist {
    font-weight: bold;
}

.title {
    font-style: italic;
}