body {
    font-family: Helvetica, sans-serif;
    background-color:lightblue;
}

#addForm {
    width: 50%;
    padding: 10px;
    border: 5px solid black;
    margin: auto;
    background-color: rgb(206, 243, 255);
}

#addReleaseTitle {
    text-align: center;
}

#header {
    text-align: center;
    margin: 15px;
}

#pageTitle {
    font-size: 40pt;
}

#releaseList {
    font-size: 12pt;
}

#release {
    width: 90%;
    /*background-color:rgb(206, 243, 255);*/
    border: 5px solid black;
    /*box-shadow: 5px 5px 5px red;*/
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
}

#releaseInfo {
    padding: 10px;
}

img.cover {
    width: 100%;
}

img.logo {
    width: 300px;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding-left: 0;
}

#remove{
    color: red;
}

.artist {
    font-weight: bold;
}

.title {
    font-style: italic;
}